/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #222;
}
html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
    font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;
}
h1{
   
}
h3{
   
}
p{

}
nav a, nav a:link, nav a:visited{
    color: gold;

}
a:hover, a:active{
    color: #fff;

}
nav ul{

}
nav li{

}
#wrapper{

}
#masthead{
    color: #eee;
    background-image: url(img/saturn.v1.jpg);
    background-repeat: no-repeat;

}
#main{
    background-color: #d4d4d4;

}
#footer{
    background-color: #333;

}
#footer p{
    color: #999;

}
#footer a{

}